.feed {
    padding-bottom: 67px;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        width: 880px;
        display: flex;
        justify-content: space-between;
        img {
            width: 170px;
            height: 170px;
            margin-right: 60px;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        padding-bottom: 10px;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        padding-bottom: 21px;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
    hr {
        width: 940px;
        color: #f6f6f6;
        border-bottom: none;
        margin: 30px 8px 50px 8px;
    }
}
